@import "../../styles/font.css";
@import "../../styles/base.css";
@import "../../styles/variables.css";
@import "../../styles/header.css";
@import "../../styles/themeChanger.css";
@import "../../styles/background.css";

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.gallery__title {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 3rem;
}

.gallery__filter {
  display: flex;
  margin-bottom: 5rem;
}

.gallery__filter--item {
  display: inline-block;
  position: relative;

  font-size: 2rem;
  font-weight: 600;
  color: var(--font-color-1);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-origin: left;

  padding: 1rem;
}

.gallery__filter--item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--font-color-1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.gallery__filter--item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.gallery__filter--item.active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-bottom: 3px solid var(--font-color-1);
}

.gallery__filter--item.active:after {
  display: none;
}

.gallery__filter--item:not(:last-child) {
  margin-right: 4rem;
}

.gallery__item {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.gallery__img {
  display: block;
  object-fit: contain;
  background-size: cover;
  padding: 3rem;
  border: 1px solid var(--color-secondary);
  transition: transform 0.6s ease-in-out;
}

.gallery__img:hover {
  transform: scale(1.2);
}

.gallery__img--agent {
  width: 40rem;
}

.gallery__agent,
.gallery__skin {
  position: relative;
}

.gallery__agent::before,
.gallery__skin::before {
  position: absolute;
  content: attr(data-before);
  font-size: 2.5rem;
  padding: 0.2rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-transform: uppercase;
}

.gallery__agent::before {
  top: 0;
  left: 0;
}

.gallery__skin::before {
  top: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.gallery__img--wallpaper {
  width: 60rem;
}

.gallery__img--skin {
  margin-top: 3rem;
  width: 52rem;
  height: 29rem;
}

.gallery__img--map {
  width: 80rem;
}

.container:not(:last-child) {
  margin-bottom: 5rem;
}

.agents__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wallpapers__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skins__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.maps__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1079px) {
  .gallery {
    transform: translateY(11rem);
  }
}

@media only screen and (max-width: 768px) {
  .gallery__img--agent {
    width: 33.5rem;
  }
}

@media only screen and (max-width: 690px) {
  .gallery__img--map {
    width: 65rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallery__filter {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 2rem 5rem 2rem;
    padding: 0 3rem;
    width: 100%;
  }

  .gallery__filter--item:not(:last-child) {
    margin-right: 0;
  }

  .gallery__title {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 580px) {
  .gallery__img--map,
  .gallery__img--wallpaper {
    width: 55rem;
  }
}

@media only screen and (max-width: 490px) {
  .gallery__title {
    padding: 0 2rem;
  }

  .gallery__img--wallpaper,
  .gallery__img--skin {
    width: 45rem;
  }

  .gallery__img--map {
    width: 51rem;
  }

  .gallery__img--skin {
    height: 26rem;
  }
}

@media only screen and (max-width: 420px) {
  .gallery__img--map,
  .gallery__img--wallpaper {
    width: 40rem;
  }

  .gallery__img--skin {
    width: 34rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 350px) {
  .gallery__img--agent {
    width: 27.5rem;
  }

  .gallery__img--map,
  .gallery__img--wallpaper {
    width: 34rem;
  }

  .gallery__img--skin {
    width: 28rem;
    height: 16rem;
  }
}
