body {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/main/characters_bg.webp");
  background-color: var(--color-primary);
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  transition: all 0.5s linear;
}
